Source: bbb-wss-proxy
Priority: extra
Section: default
Maintainer: Brent Baccala <cosine@freesoft.org>
Standards-Version: 4.0.0
Homepage: http://github.com/BrentBaccala/bbb-wss-proxy
Build-Depends: dh-exec

Package: bbb-wss-proxy
Architecture: all
Depends: bbb-html5, python3-websockify, python3-jwt
Description: A WebSocket proxy for Big Blue Button
